<!DOCTYPE html>

<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <div class="container">
    <%- include('./partials/links.ejs') %>
    <br />
    <section class="text-center">
      <form method="post" action="/add">
        <div class="form-group">
          <label for="title">Enter Title</label>
          <input name="title" type="title" class="form-control" placeholder="Enter post title" id="title" required />
        </div>

        <br />

        <div class="form-group">
          <label for="post">Enter Post</label>
          <textarea name="post" class="form-control" rows="4" cols="50" id="post" required></textarea>
        </div>

        <button type="submit" value="accept" class="btn btn-primary">
          Submit
        </button>
      </form>
    </section>
  </div>
</body>

</html>