<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('./partials/links.ejs') %>
      <br />
      <section></section>
    </div>
  </body>
</html>
