<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('./partials/links.ejs') %>
      <br />
      <section class="jumbotron">
        <h2 class="text-center">Welcome home</h2>
      </section>
    </div>
  </body>
</html>
