<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <div class="container">
    <%- include('./partials/links.ejs') %>
    <br />
    <section class="text-center">
      <h3>POST</h3>
      <div class="border rounded-lg p-5">
        <%- include('./partials/post.ejs') %>
      </div>
    </section>
  </div>

  <script>
    //   fetch function 
    const deletePost = (id) => {
      fetch(`/post/${id}`, {
        method: 'DELETE'
      }).then((data) => {
        window.location.reload()
        window.location.href = '/posts' // for redirect
      })
    }
  </script>
</body>

</html>