<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <div class="container">
    <%- include('./partials/links.ejs') %>
    <br />
    <section class="text-center">
      <h3>POSTS</h3>
      <div class="border rounded-lg p-5">
        <%- include('./partials/posts.ejs') %>
      </div>
    </section>
  </div>
</body>

</html>